[Desktop Entry]
Name=WeChatFerry
Type=Application
Exec=env WINEPREFIX="/root/.wine" wine /root/res/wcf.exe start 8001
# Exec=lxterminal --command "env WINEPREFIX="/root/.wine" wine /root/res/wcf.exe start 8001"
StartupNotify=true
Path=/root/res
Icon=E282_WeChat.0
