[Desktop Entry]
Name=WeChatFerry
Type=Application
Exec=/bin/bash /root/res/launch.sh
# Exec=lxterminal --command "/bin/bash /root/res/launch.sh"
StartupNotify=true
Path=/root/res
Icon=E282_WeChat.0
